.blurred-header {
  position: absolute;
  width: 100%;
  z-index: 1;
}
.blurred-header-underlay {
  position: absolute;
  width: 100%;
  height: 100%;
}
.content {
  position: absolute;
  width: 100%;
  overflow: auto;
  background-color: white;
}
.blurred-content {
  position: absolute;
  width: 100%;
}
