<div class="header">
  <md-toolbar color="primary">
    <div class="header-content">
      <button md-button (click)="onBack()" [ngClass]="{hidden : !isBackVisible}" class="mobile-only button-small">
        <md-icon >arrow_back</md-icon>
      </button>
      <span class="tablet-and-greater flex-grow-2">Torpedo Maximum Contacts</span>
      <div class="flex-row vertical-center font-l" *ngIf="isUserLoggedIn">
        <md-icon class="header-icon" svgIcon="account"></md-icon>
        <span class="thin user-name">Leeerooooy Jenkins</span>
      </div>
      <!-- User is logged out -->
      <button *ngIf="!isUserLoggedIn" (click)="onLogin()" md-button class="flex-row vertical-center">
        <md-icon class="header-icon" svgIcon="login"></md-icon>
        <span class="thin">Login</span>
      </button>
      <!-- User is logged in -->
      <button (click)="onLogout()" *ngIf="isUserLoggedIn" md-button class="flex-row vertical-center font-l">
        <md-icon class="header-icon" svgIcon="logout"></md-icon>
        <span class="thin">Logout</span>
      </button>
    </div>
  </md-toolbar>
</div>
