<!----==== list header ====---->
<div class="contacts-list-header">
  <div class="contacts-list-header-underlay"></div>
  <md-input #searchBox (keyup)="searchContacts(searchBox.value)" class="search-input" placeholder="search" align="start">
    <md-icon class="search-icon" md-prefix>search</md-icon>
  </md-input>
</div>

<!----==== list body copy for blur effect ====---->
  <div class="contacts-list-body-blurred">
    <md-nav-list>
      <md-list-item *ngFor="let contact of contactList; let last = last">
        <img md-list-avatar src="{{contact.pic}}" alt="not found">
        <h3 md-line> {{contact.lastname}} </h3>
        <p md-line>
          <span> {{contact.firstname}} </span>
        </p>
        <md-divider *ngIf="!last"></md-divider>
      </md-list-item>
    </md-nav-list>
  </div>

<!----==== list body ====---->
<div track-scroll class="contacts-list-body">
  <md-nav-list>
    <md-list-item *ngFor="let contact of contactList; let last = last">
      <img md-list-avatar src="{{contact.pic}}" alt="not found">
      <h3 md-line> {{contact.lastname}} </h3>
      <p md-line>
        <span> {{contact.firstname}} </span>
      </p>
      <md-divider *ngIf="!last"></md-divider>
    </md-list-item>
  </md-nav-list>
</div>
