<mp-blurred-scroll #mpBlurredScroll>

  <mp-blurred-scroll-header>
    <md-input #searchBox class="search-input" placeholder="search"
              align="start">
      <md-icon class="search-icon" md-prefix>search</md-icon>
    </md-input>
  </mp-blurred-scroll-header>

  <mp-blurred-scroll-content>
    <md-nav-list>
      <md-list-item (click)="onClick(contact)" *ngFor="let contact of contacts | contactsListPipe:searchBox.value; trackBy: contact?.id">
        <img *ngIf="contact.imageUri" md-list-avatar src="{{contact.imageUri}}" alt="not found">
        <div *ngIf="!contact.imageUri" md-list-avatar class="dummy-image"
             [style.background-color]="getColor(contact)">
          <p class="dummy-image-initials thin">
            {{contact.firstname.charAt(0).toUpperCase()}}{{contact.lastname.charAt(0).toUpperCase()}}
          </p>
        </div>
        <h3 md-line> {{contact.lastname}} </h3>
        <p md-line>
          <span> {{contact.firstname}} </span>
        </p>
        <p *ngIf="contact.phoneNumbers && contact.phoneNumbers[0]" class="phone-number tablet-and-greater">{{contact.phoneNumbers[0].number}}</p>
      </md-list-item>
    </md-nav-list>
  </mp-blurred-scroll-content>

</mp-blurred-scroll>
