.search-icon {
  margin-left: 16px;
  margin-right: 16px;
}

.search-input {
  width: 100%;
  box-sizing: border-box;
  padding-right: 32px;
  margin-top: 8px;
  margin-left: 16px;
}

.dummy-image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dummy-image-initials {
  margin: 0;
  color: white;
  display: inline;
  font-size: 16pt;
}

.phone-number {
  flex-grow: 1;
}
