<mp-blurred-scroll>

  <mp-blurred-scroll-header>
    <md-input #searchBox (keyup)="onKeyup(searchBox.value)" class="search-input" placeholder="search"
              align="start">
      <md-icon class="search-icon" md-prefix>search</md-icon>
    </md-input>
  </mp-blurred-scroll-header>

  <mp-blurred-scroll-content>
    <md-nav-list>
      <md-list-item *ngFor="let contact of contactList | contactsListPipe:searchBox.value;">
        <img md-list-avatar src="{{contact.pic}}" alt="not found">
        <h3 md-line> {{contact.lastname}} </h3>
        <p md-line>
          <span> {{contact.firstname}} </span>
        </p>
      </md-list-item>
    </md-nav-list>
  </mp-blurred-scroll-content>

</mp-blurred-scroll>

<!--<mp-blurred-scroll [blur]="1" [opacity]="0.8">-->
  <!--<mp-blurred-scroll-header>-->
    <!--<p>Header!</p>-->
  <!--</mp-blurred-scroll-header>-->
  <!--<mp-blurred-scroll-content>-->
    <!--<p>Content!</p>-->
    <!--<p>Content!</p>-->
    <!--<p>Content!</p>-->
    <!--<p>Content!</p>-->
    <!--<p>Content!</p>-->
    <!--<p>Content!</p>-->
    <!--<p>Content!</p>-->
    <!--<p>Content!</p>-->
    <!--<p>Content!</p>-->
    <!--<p>Content!</p>-->
    <!--<p>Content!</p>-->
    <!--<p>Content!</p>-->
    <!--<p>Content!</p>-->
    <!--<p>Content!</p>-->
    <!--<p>Content!</p>-->
    <!--<p>Content!</p>-->
    <!--<p>Content!</p>-->
    <!--<p>Content!</p>-->
    <!--<p>Content!</p>-->
    <!--<p>Content!</p>-->
    <!--<p>Content!</p>-->
    <!--<p>Content!</p>-->
    <!--<p>Content!</p>-->
    <!--<p>Content!</p>-->
    <!--<p>Content!</p>-->
    <!--<p>Content!</p>-->
    <!--<p>Content!</p>-->
    <!--<p>Content!</p>-->
    <!--<p>Content!</p>-->
    <!--<p>Content!</p>-->
    <!--<p>Content!</p>-->
    <!--<p>Content!</p>-->
    <!--<p>Content!</p>-->
    <!--<p>Content!</p>-->
    <!--<p>Content!</p>-->
    <!--<p>Content!</p>-->
    <!--<p>Content!</p>-->
    <!--<p>Content!</p>-->
    <!--<p>Content!</p>-->
    <!--<p>Content!</p>-->
    <!--<p>Content!</p>-->
    <!--<p>Content!</p>-->
    <!--<p>Content!</p>-->
    <!--<p>Content!</p>-->
  <!--</mp-blurred-scroll-content>-->
<!--</mp-blurred-scroll>-->
