<div class="contact-edit">
  <div class="profile-image-container">
    <!-- target zone for drag and drop upload of contact pictures -->
    <div class="profile-image-update-overlay" [ngClass]="{'profile-image-update-overlay-dragover': draggedOver}"
         (dragenter)="toggleDragover($event)" (dragover)="$event.preventDefault()" (dragleave)="toggleDragover($event)"
         (drop)="processPicture($event)"></div>

    <img *ngIf="editObject.imageUri" class="u-blur" src={{editObject.imageUri}}>

    <!--if no image is available-->
    <div *ngIf="!editObject.imageUri" class="dummy-image u-blur"
         [style.background-color]="getColor(editObject)">
      <p class="blurred-dummy-image-initials thin">
        {{editObject.firstname.charAt(0).toUpperCase()}}{{editObject.lastname.charAt(0).toUpperCase()}}
      </p>
    </div>
    <div class="blur-overlay"></div>

    <div class="image-cropper">
      <img *ngIf="editObject.imageUri" class="cropped-image" src={{editObject.imageUri}}/>

      <!--if no image is available-->
      <div *ngIf="!editObject.imageUri" class="dummy-image"
           [style.background-color]="getColor(editObject)">
        <p class="dummy-image-initials thin">
          {{editObject.firstname.charAt(0).toUpperCase()}}{{editObject.lastname.charAt(0).toUpperCase()}}
        </p>
      </div>
    </div>
    <img class="contact-edit-name-underlay" src="./assets/contact-details-name-underlay.svg"/>
    <div class="contact-edit-name flex-row">
      <h2 class="contact-edit-title">{{dialogTitle}}</h2>
      <button md-icon-button class="contact-delete" *ngIf="editExisting" (click)="onDeleted($event)">
        <md-icon class="u-grey">delete_forever</md-icon>
      </button>
    </div>
  </div>

  <div class="contact-edit-content">
    <div class="flex-row contact-edit-section-container">
      <md-icon class="contact-edit-icon u-grey">account_box</md-icon>
      <div class="contact-edit-content-section flex-column">
        <md-input [(ngModel)]="editObject.firstname" placeholder="Firstname"></md-input>
        <md-input [(ngModel)]="editObject.lastname" placeholder="Lastname"></md-input>
      </div>
    </div>

    <md-divider></md-divider>

    <div class="flex-row contact-edit-section-container">
      <div class="flex-column">
        <md-icon class="contact-edit-icon u-grey">phone</md-icon>
        <button md-icon-button (click)="addPhone()">
          <md-icon class="md-12 u-grey">add</md-icon>
        </button>
      </div>
      <div class="flex-column" *ngIf="editObject.phoneNumbers && editObject.phoneNumbers.length">
        <div class="contact-edit-content-section" *ngFor="let number of editObject.phoneNumbers; let i = index">
          <div class="flex-row">
            <!-- TODO find solution for primitive value problem -->
            <md-input type="tel" [(ngModel)]="editObject.phoneNumbers[i]" placeholder="Phone"></md-input>
            <button md-icon-button (click)="unsetPhone(i)">
              <md-icon class="md-12 u-grey">delete</md-icon>
            </button>
          </div>
        </div>
      </div>
    </div>

    <md-divider></md-divider>

    <div class="flex-row contact-edit-section-container">
      <div class="flex-column">
        <md-icon class="contact-edit-icon u-grey">business</md-icon>
        <button md-icon-button (click)="addAddress()">
          <md-icon class="md-12 u-grey" >add</md-icon>
        </button>
      </div>
      <div class="flex-column" *ngIf="editObject.addresses && editObject.addresses.length">
        <div class="contact-edit-content-section" *ngFor="let address of editObject.addresses; let i = index; let l = last">
          <div class="flex-row">
            <md-input [(ngModel)]="address.street" placeholder="Street"></md-input>

            <button md-icon-button (click)="unsetAddress(i)">
              <md-icon class="md-12 u-grey">delete</md-icon>
            </button>
          </div>
          <md-input [(ngModel)]="address.number" placeholder="Number"></md-input>
          <md-input [(ngModel)]="address.city" name="city{{i}}" placeholder="City"></md-input>
          <md-input [(ngModel)]="address.zip" name="zip{{i}}" placeholder="ZIP"></md-input>
          <md-input [(ngModel)]="address.country" name="country{{i}}" placeholder="Country"></md-input>
          <md-divider *ngIf="!last"></md-divider>
        </div>
      </div>
    </div>

    <md-divider></md-divider>

    <div class="flex-row contact-edit-section-container">
      <div class="flex-column">
        <md-icon class="contact-edit-icon u-grey">email</md-icon>
        <button md-icon-button (click)="addMail()">
          <md-icon class="md-12 u-grey">add</md-icon>
        </button>
      </div>
      <div class="flex-column" *ngIf="editObject.emailAddresses && editObject.emailAddresses.length">
        <div class="contact-edit-content-section" *ngFor="let mail of editObject.emailAddresses; let i = index">
          <div class="flex-row">
            <md-input type="email" [(ngModel)]="editObject.emailAddresses[i]" name="mail{{i}}" placeholder="Mail"></md-input>
            <button md-icon-button (click)="unsetMail(i)">
              <md-icon class="md-12 u-grey">delete</md-icon>
            </button>
          </div>
        </div>
      </div>
    </div>

    <md-divider></md-divider>
    <br>
    <div class="flex-row contact-edit-section-container">
      <md-icon class="contact-edit-icon u-grey">cake</md-icon>
      <div class="contact-edit-content-section">
        <md-input type="date" [(ngModel)]="editObject.birthday" name="birthday" placeholder="Birthday"></md-input>
      </div>
    </div>

  </div>

  <div class="contact-edit-actions flex-row">
    <button md-raised-button (click)="onCanceled()">Abort</button>
    <button md-raised-button (click)="onSaved()">Save</button>
  </div>
</div>
