<div class="flex-row full-height">
  <div class="filler"></div>
  <div class="contacts flex-column full-height">
    <div class="header-container">
      <header [(isBackVisible)]="isDetailsActive"></header>
    </div>
    <div class="flex-row full-height">
      <contacts-list [contacts]="contacts" (selectedContact)="onSelectContact($event)"></contacts-list>
      <contact-details [hidden]="isEditingActive" [contact]="selectedContact" (editMode)="toggleEditing()"
                       [ngClass]="{'hide-details' : !isDetailsActive}"></contact-details>
      <contact-edit [hidden]="!isEditingActive" [contact]="selectedContact"
                    (saved)="updateContact($event)" (canceled)="toggleEditing()"
                    (added)="addContact($event)" (deleted)="deleteContact($event)"></contact-edit>
      <button md-fab class="add-contacts-button" [hidden]="isEditingActive" (click)="newContact()">
        <md-icon class="md-24">person_add</md-icon>
      </button>
    </div>
  </div>
  <div class="filler"></div>
</div>
