.contacts {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.contact-container {
  height: 100%;
  display: flex;
  flex-direction: row;
  //align-items: stretch;
}

.header-container {
  z-index: 2;
  box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
}

.contacts-list-container {
  display: flex;
  flex-direction: column;
  width: 270px;
}
