@import '../app.component.less';

.header-container {
  z-index: 5;
}

.contacts-list-container {
  width: 270px;
  position: relative;
  overflow: hidden;
}

.contact-details-container {
  z-index: 4;
}
