.contacts {
  display: flex;
  flex-direction: column;
}

.contact-container {
  display: flex;
  flex-direction: row;
}

.contacts-list-container {
  display: flex;
  flex-direction: column;
  margin-right: 2%;
}
