<div *ngIf="contact" class="contact-details">
  <div class="profile-image-container">
    <img *ngIf="contact.imageUri" class="u-blur" src={{contact.imageUri}}>

    <!--if no image is available-->
    <div *ngIf="!contact.imageUri" class="dummy-image u-blur"
         [style.background-color]="getColor(contact)">
      <p class="blurred-dummy-image-initials thin">
        {{contact.firstname.charAt(0).toUpperCase()}}{{contact.lastname.charAt(0).toUpperCase()}}
      </p>
    </div>
    <div class="blur-overlay"></div>

    <div class="image-cropper">
      <img *ngIf="contact.imageUri" class="cropped-image" src={{contact.imageUri}}/>

      <!--if no image is available-->
      <div *ngIf="!contact.imageUri" class="dummy-image"
           [style.background-color]="getColor(contact)">
        <p class="dummy-image-initials thin">
          {{contact.firstname.charAt(0).toUpperCase()}}{{contact.lastname.charAt(0).toUpperCase()}}
        </p>
      </div>
    </div>

    <img class="contact-details-name-underlay" src="./assets/contact-details-name-underlay.svg"/>
    <div class="contact-details-name">
      <h2>{{contact.firstname}} {{contact.lastname}}</h2>
      <button md-button (click)="enableEdit($event)" class="button-small">
        <md-icon class="edit-icon u-grey">edit</md-icon>
      </button>
    </div>
  </div>

  <div class="contact-details-content">

    <div *ngIf="contact.phoneNumbers && contact.phoneNumbers.length" class="flex-row">
      <md-icon class="contact-details-icon u-grey">phone</md-icon>
      <div class="contact-details-content-section">
        <p *ngFor='let number of contact.phoneNumbers'>{{number}}</p>
      </div>
    </div>
    <md-divider *ngIf="contact.phoneNumbers && contact.phoneNumbers.length"></md-divider>


    <div *ngIf="contact.emailAddresses && contact.emailAddresses.length" class="flex-row">
      <md-icon class="contact-details-icon u-grey">mail</md-icon>
      <div class="contact-details-content-section">
        <p *ngFor='let mail of contact.emailAddresses'>{{mail}}</p>
      </div>
    </div>
    <md-divider *ngIf="contact.emailAddresses && contact.emailAddresses.length"></md-divider>

    <div *ngFor='let address of contact.addresses' class="flex-row">
      <md-icon class="contact-details-icon u-grey">business</md-icon>
      <div class="contact-details-content-section">
        <p class="contact-details-address">{{address.number}} {{address.street}}</p>
        <p class="contact-details-address">{{address.zip}} {{address.city}}</p>
        <p class="contact-details-address">{{address.region}}</p>
        <p class="contact-details-address">{{address.country}}</p>
      </div>
    </div>
    <md-divider *ngIf="contact.addresses && contact.addresses.length"></md-divider>

    <div *ngIf="contact.birthday" class="flex-row">
      <md-icon class="contact-details-icon u-grey">cake</md-icon>
      <div class="contact-details-content-section">
        <p>{{contact.birthday | date: 'yyyy/MM/dd'}}</p>
      </div>
    </div>
    <md-divider *ngIf="contact.birthday"></md-divider>

  </div>
</div>
