<div class="contact-details">
  <div class="profile-image-container">
    <img class="u-blur" src="/assets/harvey-specter.jpg">
    <div class="blur-overlay"></div>

    <div class="image-cropper">
      <img class="cropped-image" src="/assets/harvey-specter.jpg"/>
    </div>

    <img class="contact-details-name-underlay" src="/assets/contact-details-name-underlay.svg"/>
    <h2 class="contact-details-name">{{contact.firstName}} {{contact.lastName}}</h2>
  </div>

  <div class="contact-details-content">

    <div class="flex-row">
      <md-icon class="contact-details-icon u-grey">phone</md-icon>
      <div class="contact-details-content-section">
        <p *ngFor='let mobile of contact.mobile'>{{mobile}}</p>
      </div>
    </div>

    <md-divider></md-divider>

    <div class="flex-row">
      <md-icon class="contact-details-icon u-grey">mail</md-icon>
      <div class="contact-details-content-section">
        <p *ngFor='let mail of contact.mail'>{{mail}}</p>
      </div>
    </div>

    <md-divider></md-divider>

    <div class="flex-row">
      <md-icon class="contact-details-icon u-grey">business</md-icon>
      <div class="contact-details-content-section">
        <p class="contact-details-address" *ngFor='let addressLine of contact.address'>{{addressLine}}</p>
      </div>
    </div>

    <md-divider></md-divider>

    <div class="flex-row">
      <md-icon class="contact-details-icon u-grey">cake</md-icon>
      <div class="contact-details-content-section" *ngIf='contact.birthday'>
        <p>{{contact.birthday}}</p>
      </div>
    </div>

  </div>
</div>
