<div class="contact-details">
  <div class="profile-image-container">
    <img class="u-blur" src="/assets/harvey-specter.jpg">
    <div class="blur-overlay"></div>

    <div class="image-cropper">
      <img class="cropped-image" src="/assets/harvey-specter.jpg"/>
    </div>

    <img class="contact-details-name-underlay" src="/assets/contact-details-name-underlay.svg"/>
    <h2 class="contact-details-name">{{contact.firstName}} {{contact.lastName}}</h2>
  </div>

  <div class="contact-details-content">

    <md-icon class="u-grey">phone</md-icon>

    <div class="mobile-container" *ngFor='let mobile of contact.mobile'>
      <p>Cellphone {{mobile}}</p>
    </div>

    <md-divider></md-divider>

    <div class="mail-container" *ngFor='let mail of contact.mail'>
      <p>Mail {{mail}}</p>
    </div>

    <md-divider></md-divider>

    <div class="mail-container" *ngFor='let addressLine of contact.address'>
      <p>{{addressLine}}</p>
    </div>

    <md-divider></md-divider>

    <div class="mail-container" *ngIf='contact.birthday'>
      <p>{{contact.birthday}}</p>
    </div>

  </div>
</div>
